<html>
  <head>
    <title>Acme Co. Jobs</title>

    <!--//todo make available offline -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js"></script>
    <script src="http://vitalets.github.io/checklist-model/checklist-model.js"></script>
    <script src="/javascripts/angularApp.js"></script>

  </head>

  <body ng-app="jobsApp">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
        <li ng-show="isLoggedIn()"><a href="/#/admin">Admin</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/admin/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/admin/register">Register</a></li>
      </ul>
    </nav>
    <div class="page-header">
      <h1>Acme Co. Jobs</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div ng-show="error" class="alert alert-danger row">
          <span>{{error.message}}</span>
        </div>
        <ui-view></ui-view>
      </div>
    </div>

    <script type="text/ng-template" id="/admin.html">
      <h4>Thank you for visiting the Acme Co. job site!</h4>
      <p>Through the below process, we'll create and send a questionnaire to a job candidate.</p>
      <p>So let's get started!  First we'll create a candidate:</p>
      <form ng-submit="createQuestionnaireAndCandidate()" style="margin-top: 30px;">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" ng-model="questionnaire.candidate.name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" ng-model="questionnaire.candidate.email">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      <p>*OR, take a look at previously created <a href="#/admin/questionnaires">questionnaires and candidate responses</a></p>
    </script>

    <script type="text/ng-template" id="/admin-questions.html">
      <p>Great!  Now let's add some questions to our questionnaire.</p>
      <div ng-if="questions.length > 0">
        <p>Here are the questions already in the system: </p>
        <div ng-repeat="question in questions">
          <div class="checkbox">
            <label><input type="checkbox" checklist-model="questionnaire.questionAnswerPairs.question" checklist-value="question">{{question.q}}</label>
          </div>
        </div>
        <p style="margin-top: 30px;">*OR, add a new question:</p>
      </div>
      <form ng-submit="addQuestion()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Question" ng-model="question.q">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <!--<div ng-if="questionnaire.questionAnswerPairs.length > 0">-->
        <form ng-submit="saveToQuestionnaire()">
          <button type="submit" class="btn btn-primary">Review and Send</button>
        </form>
      <!--</div>-->
    </script>

    <script type="text/ng-template" id="/admin-review.html">
        <div>
          <p>Candidate Info:</p>
          <div>{{questionnaire.candidate.name}}</div>
          <div>{{questionnaire.candidate.email}}</div>
        </div>
        <div>
          <p>Questions:</p>
          <div ng-repeat="questionAnswerPair in questionnaire.questionAnswerPairs">
            {{questionAnswerPair.question.q}}
          </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="sendQuestionnaire()">Send to Candidate</button>
    </script>

    <script type="text/ng-template" id="/admin-questionnaires.html">
      <h4>Candidate Questionnaires</h4>
      <div ng-repeat="questionnaire in questionnaires">
        {{questionnaire.name}}<br/>
        <div ng-if="questionnaire.completed">status: complete<br/>
          <a href="#/admin/questionnaires/{{questionnaire._id}}/response">review responses</a>
        </div>
        <div ng-if="!questionnaire.completed">status: pending</div>
      </div>
    </script>

    <script type="text/ng-template" id="/admin-response.html">
      <h4>{{questionnaire.name}}</h4>
      <strong>candidate name:</strong> {{questionnaire.candidate.name}}<br/>
      <strong>candidate email:</strong> {{questionnaire.candidate.email}}<br/>
      <strong>responses:</strong><br/>
      <div ng-if="questionnaire.completed">
        <div ng-repeat="questionAnswerPair in questionnaire.questionAnswerPairs">
          <p><strong>{{questionAnswerPair.question.q}}</strong></p>
          <p>{{questionAnswerPair.answer}}</p>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/register.html">
      <form ng-submit="register()" style="margin-top:30px;">
        <h3>Register</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </script>

    <script type="text/ng-template" id="/login.html">
      <form ng-submit="logIn()" style="margin-top:30px;">
        <h3>Log In</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </script>

    <script type="text/ng-template" id="/home.html">
      <h4>Thank you for visiting the Acme Co. job site!</h4>
      <div ng-show="error" class="alert alert-danger row">
        <span>{{error.message}}</span>
      </div>
      <p>Please enter your email address below so we can locate your questionnaire:</p>
      <form ng-submit="findQuestionnaireByEmail()" style="margin-top: 30px;">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" ng-model="email">
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
      </form>
    </script>

    <script type="text/ng-template" id="/response.html">
      <form ng-submit="saveResponse()" style="margin-top: 30px;">
        <p>Hi {{questionnaire.candidate.name}}!  Please answer the following questions:</p>

        <div ng-repeat="questionAnswerPair in questionnaire.questionAnswerPairs">
          <p>{{questionAnswerPair.question.q}}</p>
          <textarea class="form-control" ng-model="questionAnswerPair.answer"></textarea>
        </div>
        <br/>
        <div class="radio">
          <label><input type="radio" ng-model="questionnaire.completed" data-ng-value="false">I'm not done! Save my work for later.</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="questionnaire.completed" data-ng-value="true">I'm finished!  Submit my responses.</label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </script>


  </body>
</html>